/* Acá va tu código */
body {
    background-image:url(foto/birthday_4.jpg);
 }
 .first-section {
    border:solid;
    text-align: center;
}
.second-section {
    border:solid;
    text-align:center;
}